@model IEnumerable<KapitalBerdsk.Web.Classes.Data.BuildingObject>
@inject KapitalBerdsk.Web.Classes.Services.IDateTimeService DateTimeService

@if (Model.Any())
{
    var overdueContracts = Model.Where(item => item.ContractDateEnd < DateTimeService.LocalDate).ToList();
    var soonContracts = Model.Where(item => item.ContractDateEnd >= DateTimeService.LocalDate).ToList();

<div class="alert alert-warning alert-sm alert-dismissible" style="margin-top: 20px">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    @if (overdueContracts.Any())
    {
        <p>
            <span class="bg-danger p-3">Просроченные объекты:</span>
            @foreach (var item in overdueContracts)
            {
                <a asp-controller="BuildingObject"
                   asp-action="Details"
                   asp-route-id="@item.Id"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Сдача @item.ContractDateEnd.ToShortDateString()">@item.Name</a>@(overdueContracts[overdueContracts.Count - 1] != item ? "," : "")
            }
        </p>
    }
    @if (soonContracts.Any())
    {
        <p>
            <span class="p-3">Приближается время сдачи объектов:</span>
            @foreach (var item in soonContracts)
            {
                <a asp-controller="BuildingObject"
                   asp-action="Details"
                   asp-route-id="@item.Id"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Сдача @item.ContractDateEnd.ToShortDateString()">@item.Name</a>@(soonContracts[soonContracts.Count - 1] != item ? "," : "")
            }
        </p>
    }
</div>
}