@model KapitalBerdsk.Web.Classes.Models.BusinessObjectModels.EmployeeDetailsModel

@{
    ViewData["Title"] = Model.FullName;
}

<h2>
    @ViewData["Title"]
    <a class="btn btn-xs btn-link" asp-action="Edit" asp-route-id="@Model.Id">редактировать</a>
</h2>

<div>
    <hr />
    <div>
        <b>@Html.DisplayNameFor(model => model.Salary):</b>
        @Html.DisplayFor(model => model.Salary)
    </div>

    <h3>Объекты</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Название</th>
                <th>Начислено</th>
                <th>Выдано</th>
                <th>Остаток</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.BuildingObjects)
        {
            <tr>
                <td>
                    <a asp-controller="BuildingObject" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accrued)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Issued)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balance)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
