@model KapitalBerdsk.Web.Classes.Models.BusinessObjectModels.EmployeeDetailsModel

@{
    ViewData["Title"] = Model.FullName;
}

<style>
    .sum-symbol {
        position: relative;
        top: -2px;
    }
</style>

<h2>
    @ViewData["Title"]
    <a class="btn btn-xs btn-link" asp-action="Edit" asp-route-id="@Model.Id">редактировать</a>
</h2>

<div>
    <hr />
    <div>
        <b>@Html.DisplayNameFor(model => model.Salary):</b>
        @Html.DisplayFor(model => model.Salary)
    </div>
    <div>
        <b>@Html.DisplayNameFor(model => model.AccountableBalance):</b>
        @Html.DisplayFor(model => model.AccountableBalance)
    </div>

    <h3>Объекты</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Название</th>
                <th>
                    <span>Начислено</span>
                    <span class="pull-right"><span class="sum-symbol">&sum;</span> @Model.BuildingObjects.Sum(item => item.Accrued)</span>
                    <span class="clearfix"></span>
                </th>
                <th>
                    <span>Выдано</span>
                    <span class="pull-right"><span class="sum-symbol">&sum;</span> @Model.BuildingObjects.Sum(item => item.Issued)</span>
                    <span class="clearfix"></span>
                </th>
                <th>
                    <span>Остаток</span>
                    <span class="pull-right"><span class="sum-symbol">&sum;</span> @Model.BuildingObjects.Sum(item => item.Balance)</span>
                    <span class="clearfix"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BuildingObjects)
            {
                <tr>
                    <td>
                        <a asp-controller="BuildingObject" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Accrued)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Issued)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
