@model IEnumerable<KapitalBerdsk.Web.Classes.Models.BusinessObjectModels.EmployeeListItemModel>

@{
    ViewData["Title"] = "Сотрудники";
}

<h2>
    @ViewData["Title"]
    <a class="btn btn-xs btn-link" asp-action="Create">добавить</a>
</h2>

<table class="table table-bordered" id="employee-table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountableBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accrued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr data-employeeRow="@item.Id">
            <td>
                <span data-portletHandler style="width: 10px; height: 10px; display: inline-block; cursor: pointer">
                    <i class="glyphicon glyphicon-option-vertical"></i>
                </span>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.FullName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountableBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accrued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                <a class="btn btn-xs btn-link" asp-action="Edit" asp-route-id="@item.Id">редактировать</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $("#employee-table tbody").sortable({
                handle: "[data-portletHandler]",
                stop: function(event, ui) {
                    updateOrder();
                }
            }).disableSelection();

            function updateOrder() {
                var items = $.map($('[data-employeeRow]').toArray(),
                    function(item) {
                        return parseInt($(item).attr('data-employeeRow'));
                    });

                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    type: 'POST',
                    url: '/Employee/UpdateOrder',
                    data: JSON.stringify({ ids: items })                    
                });
            }
        });
    </script>
}
