@model IEnumerable<KapitalBerdsk.Web.Models.BusinessObjectModels.EmployeeModel>

@{
    ViewData["Title"] = "Сотрудники";
}

<h2>
    @ViewData["Title"]
    <a asp-action="Create"><small><i class="glyphicon glyphicon-plus"></i></small></a>
</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <a asp-route-id="@item.Id" asp-action="Edit">Редактировать</a>
            </td>
        </tr>
}
    </tbody>
</table>
