@model IEnumerable<KapitalBerdsk.Web.Models.BusinessObjectModels.FundsFlowListItemModel>

@{
    ViewData["Title"] = "Движение средств";
}

<h2>
    @ViewData["Title"]
    <a class="btn btn-xs btn-link" asp-action="Create">добавить</a>
</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Income)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Outgo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BuildingObjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-controller="Employee" asp-action="Details" asp-route-id="@item.EmployeeId">
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </a>                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Income)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Outgo)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.BuildingObjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayType)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
