@using KapitalBerdsk.Web.Classes.Models.BusinessObjectModels
@model KapitalBerdsk.Web.Classes.Models.BusinessObjectModels.FundsFlowListModel

@{
    ViewData["Title"] = "Движение средств";
}

<h2>
    @ViewData["Title"]
    <a class="btn btn-xs btn-link" asp-action="Create">добавить</a>
</h2>

<form id="table-form">
    <table id="funds-flow-table" class="table table-bordered table-condensed filtarable-table">
        <thead>
            <tr>
                <th class="filtarable-table__header-cell col-140">Дата</th>
                <th class="filtarable-table__header-cell">Описание</th>
                <th class="filtarable-table__header-cell">Сотрудник</th>
                <th class="filtarable-table__header-cell">Организация</th>
                <th class="filtarable-table__header-cell col-100">Приход</th>
                <th class="filtarable-table__header-cell col-100">Расход</th>
                <th class="filtarable-table__header-cell">Объект</th>
                <th class="filtarable-table__header-cell col-100">Нал/безнал</th>
                <th class="filtarable-table__header-cell"></th>
            </tr>
            <tr>
                <th class="filtarable-table__filter-cell">
                    <span class="input-group date" data-bdatepicker>
                        <input data-filter="Date" type="text" class="form-control input-sm" />
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </span>
                </th>
                <th class="filtarable-table__filter-cell">
                    <input data-filter="Description" type="text" class="form-control input-sm" />
                </th>
                <th class="filtarable-table__filter-cell">
                    <select data-filter="Employee" asp-items="Model.Employees" class="form-control input-sm">
                        <option value=""></option>
                    </select>
                </th>
                <th class="filtarable-table__filter-cell">
                    <select data-filter="OrganizationName" asp-items="Model.Organizations" class="form-control input-sm">
                        <option value=""></option>
                    </select>
                </th>
                <th class="filtarable-table__filter-cell">
                    <input data-filter="Income" type="text" class="form-control input-sm" />
                </th>
                <th class="filtarable-table__filter-cell">
                    <input data-filter="Outgo" type="text" class="form-control input-sm" />
                </th>
                <th class="filtarable-table__filter-cell">
                    <select data-filter="BuildingObject" asp-items="Model.BuildingObjects" class="form-control input-sm">
                        <option value=""></option>
                    </select>
                </th>
                <th class="filtarable-table__filter-cell">
                    <select data-filter="PayType" asp-items="Html.GetEnumSelectList<KapitalBerdsk.Web.Classes.Data.Enums.PaymentType>()" class="form-control input-sm">
                        <option value=""></option>
                    </select>
                </th>
                <th class="filtarable-table__filter-cell">
                    <button type="button" style="display: none" class="btn btn-sm btn-default" id="btn-reset-filter">Сбросить фильтр</button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var itemsByMonth in Model.Items.GroupBy(item => new { item.Date.Year, item.Date.Month }))
            {
                <tr class="active">
                    <td colspan="4">@itemsByMonth.First().Date.ToString("MMMM yyyy")</td>
                    <td>@itemsByMonth.Sum(item => item.Income ?? 0).Display()</td>
                    <td>@itemsByMonth.Sum(item => item.Outgo ?? 0).Display()</td>
                    <td colspan="3"></td>
                </tr>
                foreach (FundsFlowListItemModel item in itemsByMonth)
                {
                    <tr>
                        <td data-col="Date">
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td data-col="Description">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td data-col="Employee">
                            @if (item.EmployeeId.HasValue)
                            {
                                <a asp-controller="Employee" asp-action="Details" asp-route-id="@item.EmployeeId">
                                    @Html.DisplayFor(modelItem => item.EmployeeName)
                                </a>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.EmployeeName)
                            }
                        </td>
                        <td data-col="OrganizationName">
                            <a asp-controller="Organization" asp-action="Details" asp-route-id="@item.OrganizationId">
                                @Html.DisplayFor(modelItem => item.OrganizationName)
                            </a>
                        </td>
                        <td data-col="Income">
                            @Html.DisplayFor(modelItem => item.Income)
                        </td>
                        <td data-col="Outgo">
                            @Html.DisplayFor(modelItem => item.Outgo)
                            @if (item.OutgoType == KapitalBerdsk.Web.Classes.Data.Enums.OutgoType.Accountable)
                            {
                                <small>(подотчет)</small>
                            }
                        </td>
                        <td data-col="BuildingObject">
                            <a asp-controller="BuildingObject" asp-action="Details" asp-route-id="@item.BuildingObjectId">
                                @Html.DisplayFor(modelItem => item.BuildingObjectName)
                            </a>
                        </td>
                        <td data-col="PayType">
                            @Html.DisplayFor(modelItem => item.PayType)
                        </td>
                        <td>
                            <a class="btn btn-xs btn-link" asp-action="Edit" asp-route-id="@item.Id">редактировать</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>
