@using KapitalBerdsk.Web.Classes.Models.BusinessObjectModels
@model KapitalBerdsk.Web.Classes.Models.BusinessObjectModels.FundsFlowListModel

@{
    ViewData["Title"] = "Движение средств";
}

<style>
    .table-header-cell {
        border-bottom: 0 !important;
        padding-bottom: 1px !important;
    }

    .table-filter-cell {
        border-top: 0 !important;
        padding-top: 1px !important;
    }
</style>

<h2>
    @ViewData["Title"]
    <a class="btn btn-xs btn-link" asp-action="Create">добавить</a>
</h2>

<table id="funds-flow-table" class="table table-bordered">
    <thead>
        <tr>
            <th class="table-header-cell">Дата</th>
            <th class="table-header-cell">Описание</th>
            <th class="table-header-cell">Сотрудник</th>
            <th class="table-header-cell">Приход</th>
            <th class="table-header-cell">Расход</th>
            <th class="table-header-cell">Объект</th>
            <th class="table-header-cell">Нал/безнал</th>
            <th class="table-header-cell"></th>
        </tr>
        <tr>
            <th class="table-filter-cell"></th>
            <th class="table-filter-cell"></th>
            <th class="table-filter-cell">
                <select data-filter="Employee" asp-items="Model.Employees" class="form-control input-sm">
                    <option value=""></option>
                </select>
            </th>
            <th class="table-filter-cell"></th>
            <th class="table-filter-cell"></th>
            <th class="table-filter-cell">
                <select data-filter="BuildingObject" asp-items="Model.BuildingObjects" class="form-control input-sm">
                    <option value=""></option>
                </select>
            </th>
            <th class="table-filter-cell"></th>
            <th class="table-filter-cell"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var itemsByMonth in Model.Items.GroupBy(item => new { item.Date.Year, item.Date.Month }))
        {
            <tr>
                <td colspan="3">@itemsByMonth.First().Date.ToString("MMMM yyyy")</td>
                <td>@itemsByMonth.Sum(item => item.Income)</td>
                <td>@itemsByMonth.Sum(item => item.Outgo)</td>
                <td colspan="3"></td>
            </tr>
            foreach (FundsFlowListItemModel item in itemsByMonth)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td data-col="Employee">
                        <a asp-controller="Employee" asp-action="Details" asp-route-id="@item.EmployeeId">
                            @Html.DisplayFor(modelItem => item.EmployeeName)
                        </a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Income)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Outgo)
                    </td>
                    <td data-col="BuildingObject">
                        @Html.DisplayFor(modelItem => item.BuildingObjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PayType)
                    </td>
                    <td>
                        <a class="btn btn-xs btn-link" asp-action="Edit" asp-route-id="@item.Id">редактировать</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            var currentFilters = { };
            $("[data-filter]").change(function() {
                var filter = $(this).attr('data-filter');
                var filterValue = $(this).parent().find("option:selected").text();

                if (filterValue === '') {
                    removeFilter(filter);
                } else {
                    applyFilter(filter, filterValue);
                }
            });

            function removeFilter(filter) {
                delete currentFilters[filter];
                applyCurrentFilters();
            }

            function applyCurrentFilters() {
                $('#funds-flow-table tbody tr').each(function() {
                    $(this).show();
                });

                for (var filter in currentFilters) {
                    if (currentFilters.hasOwnProperty(filter)) {
                        var filterValue = currentFilters[filter];
                        $('#funds-flow-table tbody tr').each(function () {
                            var $row = $(this);
                            var $col = $row.find('[data-col="' + filter + '"]');
                            if (!$col.is(':contains("' + filterValue + '")')) {
                                $row.hide();
                            }
                        });
                    }
                }
            }

            function applyFilter(filter, filterValue) {
                currentFilters[filter] = filterValue;
                applyCurrentFilters();
            }
        });
    </script>
}
