@using Microsoft.CodeAnalysis
@model KapitalBerdsk.Web.Classes.Models.BusinessObjectModels.FundsFlowListModel

@{
    ViewData["Title"] = "Движение средств";
}

<style>
    .table-header-cell {
        border-bottom: 0 !important;
        padding-bottom: 1px !important;
    }

    .table-filter-cell {
        border-top: 0 !important;
        padding-top: 1px !important;
    }
</style>

<h2>
    @ViewData["Title"]
    <a class="btn btn-xs btn-link" asp-action="Create">добавить</a>
</h2>

<table id="funds-flow-table" class="table table-bordered">
    <thead>
        <tr>
            <th class="table-header-cell">Дата</th>
            <th class="table-header-cell">Описание</th>
            <th class="table-header-cell">Сотрудник</th>
            <th class="table-header-cell">Приход</th>
            <th class="table-header-cell">Расход</th>
            <th class="table-header-cell">Объект</th>
            <th class="table-header-cell">Нал/безнал</th>
        </tr>
        <tr>
            <th class="table-filter-cell"></th>
            <th class="table-filter-cell"></th>
            <th class="table-filter-cell">
                <select data-filter="Employee" asp-items="Model.Employees" class="form-control input-sm">
                    <option value=""></option>
                </select>
            </th>
            <th class="table-filter-cell"></th>
            <th class="table-filter-cell"></th>
            <th class="table-filter-cell"></th>
            <th class="table-filter-cell"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td data-col="Employee">
                    <a asp-controller="Employee" asp-action="Details" asp-route-id="@item.EmployeeId">
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Income)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Outgo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.BuildingObjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayType)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
<script type="text/javascript">
        $(document).ready(function() {
            $("[data-filter]").change(function() {
                var filter = $(this).attr('data-filter');
                var filterValue = $(this).parent().find("option:selected").text();
                console.log(filter, filterValue);
                $('#funds-flow-table tbody tr').each(function () {
                    var $row = $(this);
                    var $col = $row.find('[data-col="' + filter + '"]');
                    if (filterValue === '' || $col.is(':contains("' + filterValue + '")')) {
                        $row.show();
                    } else {
                        $row.hide();
                    }
                });
            });
        });
</script>
}
