@model KapitalBerdsk.Web.Classes.Models.BusinessObjectModels.BuildingObjectDetailsModel

@{
    ViewData["Title"] = Model.Name;
}

<h2>
    @ViewData["Title"] 
    <a class="btn btn-xs btn-link" asp-action="Edit" asp-route-id="@Model.Id">редактировать</a>
</h2>

<div class="row">
    <div class="col-md-4">
        <div class="well">
            <dl class="dl-horizontal m-b-0">
                <dt title="Стоимость (цена) контракта">Стоимость (цена) контракта</dt>
                <dd>@Html.DisplayFor(modelItem => Model.Price)</dd>
                <dt>@Html.DisplayNameFor(modelItem => Model.ResponsibleEmployeeName)</dt>
                <dd>@Html.DisplayFor(modelItem => Model.ResponsibleEmployeeName)</dd>
                <dt>Начало контракта</dt>
                <dd>@Html.DisplayFor(modelItem => Model.ContractDateStart)</dd>
                <dt>Окончание контракта</dt>
                <dd>@Html.DisplayFor(modelItem => Model.ContractDateEnd)</dd>
                <dt>Статус</dt>
                <dd>@Html.DisplayFor(modelItem => Model.Status)</dd>
            </dl>
        </div>
    </div>
    <div class="col-md-8">
        @Html.Partial("PdSectionsListPartial", new Tuple<int, IEnumerable<PdSectionModel>>(Model.Id, Model.PdSections))
    </div>
</div>
