@model IEnumerable<KapitalBerdsk.Web.Models.BusinessObjectModels.BuildingObjectModel>

@{
    ViewData["Title"] = "Объекты";
}

<h2>
    @ViewData["Title"] 
    <a class="btn btn-sm btn-default" asp-action="Create"><i class="glyphicon glyphicon-plus"></i></a>
</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>                
            </td>
            <td>
                <a class="btn btn-sm btn-default" asp-action="Edit" asp-route-id="@item.Id">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
