@model Tuple<int, IEnumerable<KapitalBerdsk.Web.Classes.Models.BusinessObjectModels.PdSectionModel>>

<h4>
    Разделы ПД
    <a class="btn btn-xs btn-link" asp-controller="PdSection" asp-action="Create" asp-route-objectId="@Model.Item1">добавить</a>
</h4>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Название</th>
        <th>Сотрудник</th>
        <th>Цена</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Item2)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>                
                <a asp-controller="Employee" asp-action="Details" asp-route-id="@item.EmployeeId">
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a class="btn btn-xs btn-link" asp-controller="PdSection" asp-action="Edit" asp-route-id="@item.Id">редактировать</a>
            </td>
        </tr>
    }
    </tbody>
</table>