@model KapitalBerdsk.Web.Classes.Models.BusinessObjectModels.BuildingObjectModel

<h4>
    Разделы ПД
    <a class="btn btn-xs btn-link" asp-controller="PdSection" asp-action="Create" asp-route-objectId="@Model.Id">добавить</a>
</h4>
<table class="table">
    <thead>
    <tr>
        <th>Название</th>
        <th>Сотрудник</th>
        <th>Цена</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.PdSections)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a class="btn btn-xs btn-link" asp-controller="PdSection" asp-action="Edit" asp-route-id="@item.Id">редактировать</a>
            </td>
        </tr>
    }
    </tbody>
</table>